@charset "utf-8";

// $family-sans-serif: "Ubuntu", sans-serif;

$custom-primary: #77b6d8;
$custom-secondary: #ff6842;
$custom-link: #F9B175;
$custom-dark: #232323;
$custom-light: #eaeaea;

$custom-colors: (
  "secondary": ($custom-secondary)
);

$primary: $custom-primary;
$link: $custom-link;
$dark: $custom-dark;
$light: $custom-light;
$white: #fefefe;
$black: #050505;

$size-1: 3.5rem;   // 56px
$size-2: 3rem;     // 42px
$size-3: 2rem;     // 32px
$size-4: 1.5rem;   // 24px
$size-5: 1.25rem;  // 20px
$size-6: 1rem;     // 16px
$size-7: 0.75rem;  // 12px

$easing: ease;
$radius: .75em;
$speed: 300ms;

$text: $black;
$text-light: $black;
$text-strong: $black;

// $navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;
$navbar-item-img-max-height: 3.25rem;
$navbar-breakpoint: 769px;

$body-size: 18px;

$button-padding-vertical: 1.375em;
$button-padding-horizontal: 1.375em;
$button-border-width: 2px;

$card-radius: $radius;

$title-weight: 400;

